<article class="user_info">
<h1 class="title">{{ user_full_name }}</h1>
<h3 class="author">{{ user_website }} &lt;{{ user_email }}&gt;</h3>
<h3 class="date">({{ user_name }})</h3>
<div class="text">{{ user_bio }}</div>
</article>

<p>
{% if (logged_id == user_id) or (user[logged_id]['class'] == "archmage")
	or (user[logged_id]['class'] == "wizard") %}
<a class="button" href="edit/?id={{ user_id }}">Edit profile</a>
<a class="button" href="delete">Delete user</a>
{% endif %}
</p>

{% for post_id in user_posts %}
	{% set post_id = post_id %}

	{{ include ('meta_post_card_mini.twig.html') }}
{% endfor %}
</ul>
