<?php
// -------------------------------------
// REQUIRED

// -----------------
// database stuff
$db_type = "mysql";
$db_host = "host=localhost;";
$db_port = "port=3306;";
$db_socket = "socket=/var/run/mysql/mysql.sock;";
$db_args = array();

$db_name = "dbname=blagoblag;";
$db_user = "USERNAME";
$db_pass = "PASSWORD";

// -----------------
// etc
$root = "blagoblag/";	// where blagoblag is, relative to the web-root
			// AKA, the path you put in URLs

// -------------------------------------
// OPTIONAL

// -----------------
// branding
$instance_title = "Blagoblag";	// your site's name, for branding <3
$theme   = "default";       	// the theme you wanna use

// -----------------
// the url's relative to blagoblag's root, used to make a bunch of urls
// these should change only if you use some URL rewriting in your webserver
// (I.E., "/u/USERNAME" --> "/u/?name=USERNAME")

$user_prefix_name = "u/?name=";	
$user_prefix_id = "u/?id=";

$post_prefix_name = "p/?name=";
$post_prefix_id = "p/?id=";

?>
